@model mom2.Models.Games

@{
    ViewData["Title"] = "L채gg till";



    var game = Model;

}
<div class="text-center">

    <h2>L채gg till spel</h2>

    <div>
        <h4>Du har nu lagt till @Html.DisplayFor(model => model.Name)</h4>

        <p><strong>Titel: </strong>@ViewBag.Name</p>
        <p><strong>Utvecklare: </strong>@ViewBag.Author</p>
        <p><strong>Utgivnings책r: </strong>@ViewBag.Year</p>


    </div>

    <a asp-action="Index">G책 tillbaka</a>

</div>